.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-container {
    width: 385px;
    height: 431px;

    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 259px;
    width: 258px;
    border: 1px solid #000000;
    border-radius: 50%;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 17.71%, rgba(67, 67, 67, 0) 100%);
    box-shadow: 0px 4px 4px 0px #00000040;

    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    margin-top: 120px;
}